:root {
    --box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
}

html {
    background-image: url(https://images.unsplash.com/photo-1515549832467-8783363e19b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
}

* {
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    margin-top: 10%;
    margin-left: 25%;
}

section>* {
    flex: 1 0 25%;
}

.light_container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.light_bulb {
    text-align: center;
}

main {
    height: 700px;
}

@media screen and (max-width:576px) {

    section {
        height: 250px;
        width: 250px;
    }

    .light_container {
        height: 50px;
        width: 50px;
    }

    .light_bulb {
        padding-top: 0%;
        font-size: 50px;
        border: 1px solid blue;
        border-radius: 50%;
    }
}

@media screen and (max-width:768px) and (min-width: 577px) {
    section {
        height: 300px;
        width: 300px;
    }

    .light_container {
        height: 80px;
        width: 80px;
    }

    .light_bulb {
        padding-top: 0%;
        font-size: 80px;
        border: 2px solid teal;
        border-radius: 50%;
    }

}

@media screen and (max-width: 992px) and (min-width:769px) {
    section {
        height: 600px;
        width: 600px;
    }

    .light_container {
        height: 150px;
        width: 150px;
    }

    .light_bulb {
        font-size: 150px;
        border: 3px solid red;
        border-radius: 50%;
    }

}

@media screen and (min-width: 993px) {

    .light_container {
        height: 200px;
        width: 200px;
    }

    .light_bulb {
        font-size: 200px;
        border: 4px solid pink;
        border-radius: 50%;
    }
}