:root {
    --box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
}

* {
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    margin-left: 40%;
}

section>* {
    /*needs refactoring to fix stretch*/
    flex: 2 0 25%;
}

.light_container {

    width: 80px;
    height: 80px;
    margin: 10px;


}

.light_bulb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: var(--box-shadow);

}

main {
    background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}

@media screen and (max-width:576px) {

    .light_bulb {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid blue;
        box-shadow: var(--box-shadow);
    }
}